.forms{





.formsik{
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
 
    gap: 10px;


 
    padding: 35px;
    border-radius:70px;



    border: 2px solid black;



    @media(max-width:1400px) {
        margin-left: 15%;
        margin-right: 15%;
    }

    &:focus{
        color: #5a5959;
    }

    h1{
        font-weight: 500;
        color: #302f2f;
    }
    
    input{
        padding: 10px;
        border-radius: 35px;
        border: 1px solid #5555;
        &:focus{
            color: #5a5959;
        }
        
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        border: none;
        border-radius: 15px;
        margin-left: 35%;
        padding: 5px;
        background-color: black;
        color: white;
        &:hover{
            opacity: 0.8;
        }
     }
}

    background: white;
    
    
}